.wrapper {
    /* background-color: antiquewhite;      */
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 38px 0px;
    
}

.item {
    /* background-color: antiquewhite;      */
    border: 1px solid transparent;
    padding:10px;
    border-radius: 4px;
    transition: all 0.4s;
    border: 1px solid #dddede;    
}


.item:hover {
    background-color: #ececec;
    border: 1px solid gray;
    transform: scale(1.01);
}

.iteminline {
    /* background-color: rgb(190, 178, 162); */
    display: grid;
    grid-template-columns: max-content max-content 8fr max-content 1fr 2fr max-content ;
    grid-template-areas:
    "cbutton link title read remove who parent"
    ;   
    gap:20px;
    font-size: 1.7rem;
    align-items: center;
    justify-content: center;
}

.titlerightwr {
    display: flex;
    align-items: center;
    gap:10px;
}

.itemtitle {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.defacto {            
    color: gray;
    font-size: 11px;
    padding: 10px 0px;
}


.gsm {            
    color: gray;
    font-size: 11px;
    padding: 10px 0px;
}

.urlwr {
    display: flex;
    justify-content: right;
    gap:20px;
}


.itemdetails
{
padding: 10px;
border-radius: 8px;
border:1px solid rgb(217, 217, 217);
padding: 20px;

}

.itemdetail{
    border-bottom: 1px solid rgb(198, 198, 198);
    padding: 5px 0px;
}

.cbutton {
    /* background-color: aqua; */
    grid-area: cbutton;
    cursor: help;
}

.title {
    /* background-color: rgb(184, 0, 0); */
    grid-area:title;
    font-size: 1.1rem
}


.read {    
    grid-area:read;
    cursor: pointer;
}


.remove {
    /* background-color: rgb(69, 36, 255); */
    grid-area:remove;
    cursor: pointer;
}


.who {
    font-size: 1rem;
    grid-area:who;
}


.parent {    
    grid-area:parent;    
    cursor: help;
}

.items {
    
    display: flex;
    gap:18px;
    flex-direction: column;
    min-height: 100vh;

}


.link {    
    grid-area: link;
}


.select {
    padding: 10px;
}

.emptystyle{
    min-height: 60vh;
    color: lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e7e7e7;
}

.emptystyle span {
    font-size: 2rem;
    margin-top: 15px;
}

.filterwr {
    display: grid;
    background-color: #d3d3d3;
    border-radius: 4px;
    padding: 10px;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.batchdeletebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:16px 0px;
    border-radius: 10px;
}

.sum {
    
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: bold;    
    font-size: 1.3rem;
    color:green;
    background-color: #dfdfdf;
    padding: 10px 20px;
    border-radius: 20px;
    position: fixed;
    z-index: 250;
    opacity: 1;
    border-radius: 0px 0px 0px 20px;
    user-select: none;
}

.userswr{
    display: flex;
    align-items: center;
    gap:8px;
}

.titlewr{
    display: flex;
    justify-content: space-between;
}

.buttonwr{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.buttonwr:hover{
color: rgb(15, 82, 196);
}

.modalshell{
    display: flex;
    gap:40px;
    flex-direction: column;
}

.modaltitle{    
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.modalbutton{
    background-color: #dddede;
    padding:7px 16px;
    border-radius: 4px;
}

.modalbutton:hover{
background-color: #aeaeae;
}


.modalinputs{
    display: flex;
    flex-direction: column;
    gap:14px
}

.lockedbutton{
    font-size: 34px;
}