# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/modules

/pages/api/nexus-typegen.ts
/pages/api/schema.graphql

package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

/public/sakarayrehberim/file/
/prisma/schema.prisma
schema.prisma

# testing
/coverage

# next.js
/.next/
/.next
.next/
.next
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development


# vercel
.vercel

/public/images/contents
/public/images/categories

/src/.env.local


/pages/api/nexus-typegen.ts
/pages/api/schema.graphql

pages/api/schema.graphql
pages/api/nexus-typegen.ts

# hangisi doğru ?
*.exe 
.exe
certificates