.myrow{
    display: flex;
    font-size: 20px;
    background-color: red;
}


.shell {    
/* background-color: antiquewhite; */
display: flex;
flex-direction: column;
gap:20px;
padding: 14px 0px;;
}

.list {    
    /* background-color: antiquewhite; */
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:40px
    }

.row {
background-color: #dddddd;
display: flex;
align-items: center;
gap:20px;
padding: 10px 20px;
border-radius: 6px 6px 0px 0px;

}

.s_shell {
background-color:#efefef;
display: flex;
flex-direction: column;
gap: 10px;
height: 224px;
padding: 20px;
overflow-y: scroll;
border-radius: 0px 0px 6px 6px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}



@media (max-width: 600px) {

.shell {    
display: flex;
flex-direction: column;
}

.row {
gap:10px;
flex-direction: column;        
text-align: center;
}

.s_shell {    
padding: 10px;
gap:22px
}

}




