.shell{
  display: flex;
  min-height: 100vh;
  background-color: #ebebeb;
  display: flex;
  color: lightgray;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
}