.shell{
  display: flex;
  min-height: 100vh;
  background-color: #ebebeb;
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  flex-direction: column;
  gap:14px;
  user-select: none;
  cursor: pointer;
  border: 80px solid transparent;
}

.shell:hover{
  border-color: rgb(219, 219, 219);
}