.shell {
    /* background-color: antiquewhite; */
}

.buttons{
    position: fixed;
    display: flex;
    right:0px;
    bottom:0px;
    gap:10px;
    padding:10px;
    flex-direction: column;   
    z-index: 50;
}